# MODULE 1

# Problem statement 1.1

Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
#Reading data
data=pd.read_csv("HDFC.csv", index_col='Series')
data.head() #use to display initial few rows of dataset

,Symbol,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Series,,,,,,,,,,,,,,
EQ,HDFC,15-May-2017,1549.80,1554.50,1572.60,1554.10,1561.0,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
W2,HDFC,15-May-2017,204.45,217.95,217.95,205.00,205.0,205.00,209.50,29200,6.117400e+06,4,29200,100.00
EQ,HDFC,16-May-2017,1559.50,1558.00,1569.00,1554.00,1568.0,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
EQ,HDFC,17-May-2017,1566.55,1565.50,1570.95,1549.75,1550.1,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
W2,HDFC,17-May-2017,205.00,204.95,207.00,204.95,207.0,207.00,205.75,73000,1.501938e+07,10,73000,100.00

In [3]:
data.tail() #use to display last few rows of dataset

,Symbol,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Series,,,,,,,,,,,,,,
EQ,HDFC,07-May-2019,1965.45,1974.80,2009.15,1959.20,1964.50,1966.30,1983.01,2683956,5.322315e+09,114029,1522276,56.72
EQ,HDFC,08-May-2019,1966.30,1964.50,1964.50,1925.05,1930.10,1930.75,1941.55,3626183,7.040422e+09,151779,2378973,65.61
EQ,HDFC,09-May-2019,1930.75,1926.00,1931.60,1901.30,1914.15,1914.60,1918.15,1932792,3.707382e+09,130444,1132999,58.62
EQ,HDFC,10-May-2019,1914.60,1915.25,1956.00,1910.75,1926.80,1931.70,1936.05,1628923,3.153682e+09,97684,811832,49.84
EQ,HDFC,13-May-2019,1931.70,1926.10,1984.40,1917.85,1957.00,1952.90,1958.85,4509527,8.833504e+09,139299,1332224,29.54

In [4]:
data.describe() #use to display description and features of dataset

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,8.290000e+02,8.290000e+02,829.000000,8.290000e+02,829.000000
mean,1235.068637,1237.372376,1249.368938,1223.320869,1236.191858,1236.496562,1236.178492,1.763380e+06,3.107192e+09,67614.677925,1.241798e+06,72.594077
std,728.839077,730.235891,734.456171,724.421341,729.350445,729.566264,729.328719,1.650588e+06,3.092474e+09,63518.256040,1.183951e+06,15.632166
min,193.000000,193.000000,194.400000,190.250000,193.000000,193.000000,193.290000,7.300000e+03,1.445400e+06,1.000000,0.000000e+00,0.000000
25%,365.000000,367.450000,373.000000,357.000000,365.000000,365.000000,364.590000,1.460000e+05,5.301187e+07,18.000000,1.022000e+05,65.840000
50%,1700.800000,1705.000000,1715.000000,1685.050000,1701.000000,1702.100000,1703.630000,1.685595e+06,3.091969e+09,75553.000000,1.141221e+06,72.720000
75%,1858.900000,1864.000000,1881.500000,1847.050000,1860.050000,1859.550000,1865.270000,2.778618e+06,5.053920e+09,116325.000000,1.983472e+06,80.950000
max,2069.150000,2068.000000,2073.000000,2039.150000,2067.000000,2069.150000,2057.720000,9.486397e+06,1.749929e+10,312842.000000,6.951300e+06,100.000000

In [5]:
data =data.drop("W2") #drops the W2 entries from the dataset
data.head()

,Symbol,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Series,,,,,,,,,,,,,,
EQ,HDFC,15-May-2017,1549.80,1554.5,1572.60,1554.10,1561.0,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
EQ,HDFC,16-May-2017,1559.50,1558.0,1569.00,1554.00,1568.0,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
EQ,HDFC,17-May-2017,1566.55,1565.5,1570.95,1549.75,1550.1,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
EQ,HDFC,18-May-2017,1552.50,1547.0,1558.60,1526.50,1545.0,1537.05,1539.03,2404372,3.700407e+09,85842,1837821,76.44
EQ,HDFC,19-May-2017,1537.05,1545.0,1548.00,1515.35,1526.5,1520.60,1526.14,2142433,3.269652e+09,113875,1601236,74.74

# Problem statement 1.2

Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [6]:
data.tail(90)['Close Price'].max() #Calculates maximum price for last 30 days.

2069.15

In [8]:
data.tail(90)['Close Price'].min() #Calculates minimum price for last 30 days.

1841.0

In [9]:
data.tail(90)['Close Price'].mean() #Calculates mean price for last 30 days.

1953.0294444444437